<div>
    <app-discount></app-discount>
    <app-specials></app-specials>
    <app-desserts></app-desserts>
    <app-sales [precent]=10 category="Drinks"></app-sales>
    <app-slogan></app-slogan>
    <app-recommended></app-recommended>
    <!-- <app-search></app-search> -->
    <app-pricing></app-pricing>
    <app-clock></app-clock>
    <!-- <app-inventory></app-inventory> -->
    <app-exercise-random-color></app-exercise-random-color>

    <!-- <app-youtube-video></app-youtube-video> -->
</div>
