<div class="box">
    <form #myForm="ngForm" (submit)="submit()">
        
        <label>Name: </label>
        <input #name_field="ngModel" type="text" [(ngModel)]="product.name" name="name" required pattern="^[A-Z].*$"/>
        <span *ngIf="name_field.errors?.required && name_field.touched">Name is required!</span>
        <span *ngIf="name_field.errors?.pattern && name_field.touched">Name requires first capital letter</span>
        <br/>      
       
        <label>Price: </label>
        <input #price_field="ngModel" type="number" [(ngModel)]="product.price" name="price" required/>
        <span *ngIf="price_field.invalid && price_field.touched">Price is required!</span>
        <br/> 

        <label>Stock: </label>
        <input #stock_field="ngModel" type="number" [(ngModel)]="product.stock" name="stock" required/>
        <span *ngIf="stock_field.invalid && stock_field.touched">Stock is required!</span>
        <br/> 

        <label>Image: </label>
        <input type="file" accept="image/*" (change)="saveImage($event)" (blur)="loseFocus()" required/>
        <span *ngIf="imageVisited && !product.images">Image is required</span>
        <br/> 

        <button [disabled]="myForm.form.invalid">Submit</button>

    </form>

</div>
<br/>
<a routerLink="/products" style="font-size: x-large;">Go back to product list</a>