.page {
    height: 100%;
    overflow: auto;
}

.card {
    width: 300px;   
}

.box {
    background-image: linear-gradient(45deg, lightgreen, white);
    display: inline-flex;
}

img {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    vertical-align: middle;
}

a {
    margin-left: auto;
}
